<style>
    .navigation-container {
      display: flex;
      justify-content: space-between; /* Align items at each end of the container */
      padding: 10px; /* Adjust padding as needed */
    }

    .next-link, .prev-link {
      text-decoration: none;
      color: black;
      background-color: rgb(255, 252, 252);
      padding: 10px 20px; /* Adjust padding as needed */
      border: 1px solid black;
      border-radius: 5px;
      cursor: pointer;
    }

    :root {
    --BodyFont: "Calibri";
    --Lgrey: "rgba(209, 209, 209, 0.922)";
    --Lteal: "rgb(233, 255, 250);";

}

body{
    background-color: rgb(255, 255, 255);
}
* {
    font-family: var(--BodyFont);
    color: #000000;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

h2 {
    margin-bottom: 0%;
}

h3 {
    margin-bottom: 1%;
    margin-top: 2%;
}

#b2{
    position: relative;
    float: right;
    margin-bottom: 10px;
}
h2,
h3 {
    text-align: left;
    padding: 0%;
}

table,
td,
th {
    border: 1px solid black;
    /* border: none; */
    padding: 0%;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.922);

}

table {
    padding: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    border-collapse: collapse;

}

textarea,
input,
select {
    border: none;
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    outline: none;
}

textarea::placeholder,
input::placeholder {
    font-family: var(--Lteal);
    color: #ffffff;
}

.no-outline:focus {
    outline: none;
}

/* fieldset {
    border: none;
    border: 2px solid black;

    padding: 10px;
} */

body {
    padding: 2%;
    /* width: 1200px; */
    border: 2px solid black;
    margin: 7px;

    background-color: var(--Lgrey);
}
select {
width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#b1 #b2{
    position: relative;
    left: 47%;
    text-decoration: none;
    border: 2px double rgb(100, 97, 97);
    border-radius: 3px;
    padding-left: 9px;
    padding-right: 9px;
} 


/* fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h4 {
    display: inline-block;
    margin-bottom: 0;
}

input[type="radio"] {
    margin-left: 5px;
    vertical-align: middle;
} */

</style>
<body>
    
<h2></h2>
<form action="" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <fieldset>
        <h3>8. Childhood/adolescence (before the age of 15 years)</h3>
        <table style="width: 50%;">
            <tr>
                <th style="width: 50%;">Problems identified</th>
                <th>Present</th>
                <th>Absent</th>
            </tr>

            <tr>
                <td>Running away from home</td>
                <td><input type="radio" name="prob15_1" formControlName="prob15_1" value="present" style="width: unset; vertical-align: middle;" /></td>
                <td><input type="radio" name="prob15_1" formControlName="prob15_1" value="absent" style="width: unset; vertical-align: middle;" />
                </td>
            </tr>

            <tr>
                <td>Frequent physical fights and violence</td>
                <td><input type="radio" name="prob15_2" formControlName="prob15_2" value="present" style="width: unset; vertical-align: middle;" /></td>
                <td><input type="radio" name="prob15_2" formControlName="prob15_2" value="absent" style="width: unset; vertical-align: middle;" />
                </td>
            </tr>

            <tr>
                <td>Destruction of others property</td>
                <td><input type="radio" name="prob15_3" formControlName="prob15_3" value="present" style="width: unset; vertical-align: middle;" /></td>
                <td><input type="radio" name="prob15_3" formControlName="prob15_3" value="absent" style="width: unset; vertical-align: middle;" />
                </td>
            </tr>

            <tr>
                <td>Stealing</td>
                <td><input type="radio" name="prob15_4" formControlName="prob15_4" value="present" style="width: unset; vertical-align: middle;" /></td>
                <td><input type="radio" name="prob15_4" formControlName="prob15_4" value="absent" style="width: unset; vertical-align: middle;" />
                </td>
            </tr>

            <tr>
                <td>Scholastic backwardness</td>
                <td><input type="radio" name="prob15_5" formControlName="prob15_5" value="present" style="width: unset; vertical-align: middle;" /></td>
                <td><input type="radio" name="prob15_5" formControlName="prob15_5" value="absent" style="width: unset; vertical-align: middle;" />
                </td>
            </tr>

            <tr>
                <td>Experimenting with drugs/alcohol</td>
                <td><input type="radio" name="prob15_6" formControlName="prob15_6" value="present" style="width: unset; vertical-align: middle;" /></td>
                <td><input type="radio" name="prob15_6" formControlName="prob15_6" value="absent" style="width: unset; vertical-align: middle;" />
                </td>
            </tr>

            <tr>
                <td>Gambling</td>
                <td><input type="radio" name="prob15_7" formControlName="prob15_7" value="present" style="width: unset; vertical-align: middle;" /></td>
                <td><input type="radio" name="prob15_7" formControlName="prob15_7" value="absent" style="width: unset; vertical-align: middle;" />
                </td>
            </tr>

            <tr>
                <td>Any other</td>
                <td><input type="radio" name="prob15_8" formControlName="prob15_8" value="present" style="width: unset; vertical-align: middle;" /></td>
                <td><input type="radio" name="prob15_8" formControlName="prob15_8" value="absent" style="width: unset; vertical-align: middle;" />
                </td>
            </tr>
        </table>
    </fieldset>


    <!-- 00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->


    <h2>III. Educational history</h2>

    <label style="display: flex; align-items: center;">
        <h3 style="margin-right: 10px;">9. Years of education:</h3>
        <input type="number" min="1" max="100" name="years_23" formControlName="years_23" class="inline" style="border: 1px solid black;">
    </label>



    <fieldset>
        <h3>10. Achievements in the past</h3>
        <table style="width: 40%; float: left;">
            <tr>
                <th style="width: 60%;">Achievements</th>
                <th>Present</th>
                <th>Absent</th>
            </tr>

            <tr>
                <td>Good academic records</td>
                <td><input type="radio" name="pastAch_1" formControlName="pastAch_1" style="width: unset; vertical-align: middle;" value="present"/></td>
                <td><input type="radio" name="pastAch_1" formControlName="pastAch_1" style="width: unset; vertical-align: middle;" value="absent"/></td>
            </tr>

            <tr>
                <td>High achiever in extracurricular activities</td>
                <td><input type="radio" name="pastAch_2" formControlName="pastAch_2" style="width: unset; vertical-align: middle;" value="present"/></td>
                <td><input type="radio" name="pastAch_2" formControlName="pastAch_2" style="width: unset; vertical-align: middle;" value="absent"/></td>
            </tr>
        </table>
    </fieldset>

    <!-- 00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->


    <h2>IV. Marital history</h2>
    <h3>11. Details regarding spouse</h3>
    <table>
        <tr>
            <th style="width: 30%;">Name</th>
            <td><input type="text" type="[A-Za-z ]" name="name_23" formControlName="name_23" onkeydown="return /[a-zA-Z]/i.test(event.key)" rows="1">
            </td>
        </tr>
        <tr>
            <th style="width: 30%;">Age</th>
            <td><input type="number" min="1" max="100" name="age_23" formControlName="age_23" class="inline" style="border: 1px solid black; width: 100%; border: none; ">
            </td>
        </tr>
        <tr>
            <th style="width: 30%;">Religion/Community</th>
            <td><input type="text" type="[A-Za-z ]" name="religion_23" formControlName="religion_23" onkeydown="return /[a-zA-Z]/i.test(event.key)" rows="1">
            </td>
        </tr>
        <tr>
            <th style="width: 30%;">Education</th>
            <td><input type="text" type="[A-Za-z ]" name="education_23" formControlName="education_23" onkeydown="return /[a-zA-Z]/i.test(event.key)" rows="1">
            </td>
        </tr>
        <tr>
            <th style="width: 30%;">Occupation</th>
            <td><input type="text" type="[A-Za-z ]" name="occupation_23" formControlName="occupation_23" onkeydown="return /[a-zA-Z]/i.test(event.key)" rows="1">
            </td>
        </tr>
        <tr>
            <th style="width: 30%;">Income per month</th>
            <td><input type="number" name="income_23" formControlName="income_23" rows="1">
            </td>
        </tr>
    </table>

    <h4>Other Details about spouse (history of addiction in her family, her addiction history if any, any other
        significant event in her life and attitude towards addiction)</h4>


    <!-- 00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->


    <table>
        <tr>
            <th style="width: 60%; text-align: left;">12. Years of married life</th>
            <td colspan="2"><input type="number" min="1" max="100" name="myears_23" formControlName="myears_23" class="inline" style="border: 1px solid black; width: 100%; border: none; "></td>
        </tr>
        <tr>
            <th style="width: 60%; text-align: left;">13. Is this marriage arranged or by choice?</th>
            <td style="width: unset; vertical-align: middle;">
                <input type="radio" name="marriageType" formControlName="marriageType" value="Arranged">
                Arranged
            </td>
            <td style="width: unset; vertical-align: middle;">
                <input type="radio" name="marriageType" formControlName="marriageType" value="Choice">
                Choice
            </td>
        </tr>
    </table>
    <h3></h3>
    <div>
        <button type="submit" [disabled]="!formData.valid">Save</button>
    </div>
    <h3></h3>
    <div id="b1">
        <a routerLink="../page22" style="text-decoration: none; color:black; background-color: rgb(255, 252, 252); display: inline-block; vertical-align: top;"><b>P</b></a>
        <b id="b2" style="text-decoration: none; color:black; background-color: rgb(243, 237, 237);display: inline-block; vertical-align: top;">23</b>
        <a routerLink="../page24" style="text-decoration: none; color:black; background-color: rgb(255, 252, 252); display: inline-block; vertical-align: top;"><b>N</b></a>
    </div>
    <h3></h3>
</form>
</body>
