<style>
    body {
      width: 100%;
      font-size: 16px;
      margin: 0;
      padding: 0;
      outline: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   } 


   .id1 {
      border: double 6px rgb(66, 64, 64);
       outline: solid 2px rgb(68, 64, 64);
       margin: 50px; 
       margin-top:40px;
       min-height: 60vh;
       padding-left: 20px;
       padding-right: 20px;
       box-sizing: border-box;
  }
 
   #p1 input[type="text"] {
       border: none;
       background: none;
       outline: none;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       position: absolute;
       /* width: 70%; */
   }

   table {
      
       width: 100%;
       border: 1px solid black;
       border-collapse: collapse;
       margin-top: 20px; 
       /* box-sizing: border-box; */
   }

   th, td {
      
       border: 1px solid black;
       padding: 8px;
   }

   td input[type="text"] {
       border: none;
       background: none;
       outline: none;
       white-space: nowrap;
       overflow: hidden;
   }

   .form-input {
   width: 0%;
   padding: 0.5px;
   margin-left: 20px;
   border: 0.5px solid #fff8f8;
   /* border: 1px solid #c4bcbc; */
   outline:none;
   border-radius: 5px;
   margin-bottom: 6px;
 }

   hr {
       border-color: black;
       margin-bottom: 20%;
   }
    
   #p2 input[type="text"] {
      border: none;
       background: none;
       outline: none;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       position: absolute;
       /* width: 70%; */
   }

   #p2 p input[type="text"] {
      border: none;
       background: none;
       outline: none;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       position: absolute;
       /* width: 70%; */
   }

   #nk{
           border: none;
           outline: none;
           font-size: 15px;
       }

       #b1 a{
       position: relative;
           left: 48%;
           text-decoration: none;
           border: 2px double rgb(100, 97, 97);
           border-radius: 3px;
           padding-left: 9px;
           padding-right: 9px;
        }
        #b1 #b2{
       position: relative;
           left: 48%;
           text-decoration: none;
           border: 2px double rgb(100, 97, 97);
           border-radius: 3px;
           padding-left: 9px;
           padding-right: 9px;
        } 

        .image-container {
 position: relative;
 display: inline-block;
 margin-top: 10px ;
 left:69%;
}
.remove-button {
 position: absolute;
 top: 2px;
 right: 2px;
 cursor: pointer;
 color: rgb(219, 34, 34);
 font-weight: bold;
 font-size: 14px;
 background: rgb(209, 83, 83);
 border-radius: 50%;
 /* padding: 2px; */
 opacity: 0; /* Initially hidden */
 transition: opacity 0.3s; 
}

.remove-button:hover {
 opacity: 1; /* Visible on hover */
}

.form-input {
 width: 20%;
 /* Add other styles for the file input if needed */
}
</style>

<body>
   <div class="id1">
       <form action="" [formGroup]="formData" (ngSubmit)="onSubmit()">
    
                 <h1>Medication provided during treatment : Physical</h1>
       <table class="w-full text-left">
         <thead>
             <tr>
                 <th class="pb-2 border-b-2">Date</th>
                 <th class="pb-2 border-b-2">Complaint</th>
                 <th class="pb-2 border-b-2">Medication / Reasons for continuing / Change of Medications</th>
                 <th class="pb-2 border-b-2">Signature</th>
             </tr>
         </thead>
         <tbody>
             
             <tr>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc41" formControlName="rc41" style="width: 250px; border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc42" formControlName="rc42" style="width: 250px;border: none;" /></td>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc43" formControlName="rc43" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc44" formControlName="rc44" style="width: 250px;border: none;"/></td>
             </tr>
               <tr>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc45" formControlName="rc45"style="width: 250px;border: none;" /></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc46" formControlName="rc46" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc47" formControlName="rc47" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc48" formControlName="rc48" style="width: 250px;border: none;"/></td>
             </tr>
               <tr>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc49" formControlName="rc49" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc50" formControlName="rc50" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc51" formControlName="rc51" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc52" formControlName="rc52" style="width: 250px;border: none;"/></td>
             </tr>
               <tr>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc53" formControlName="rc53" style="width: 250px;border: none;" /></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc54" formControlName="rc54" style="width: 250px;border: none;" /></td>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc55" formControlName="rc55" style="width: 250px;border: none;" /></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc56" formControlName="rc56" style="width: 250px;border: none;" /></td>
             </tr>
               <tr>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc57" formControlName="rc57" style="width: 250px;border: none;" /></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc58" formControlName="rc58" style="width: 250px;border: none;" /></td>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc59" formControlName="rc59"  style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc60" formControlName="rc60" style="width: 250px;border: none;"/></td>
             </tr>

               <tr>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc61" formControlName="rc61" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc62" formControlName="rc62" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc63" formControlName="rc63" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc64" formControlName="rc64" style="width: 250px;border: none;"/></td>
             </tr>

               <tr>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc65" formControlName="rc65" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc66" formControlName="rc66" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc67" formControlName="rc67" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc68" formControlName="rc68" style="width: 250px;border: none;"/></td>
             </tr>

               <tr>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc69" formControlName="rc69" style="width: 250px;border: none;" /></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc70" formControlName="rc70" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc71" formControlName="rc71" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc72" formControlName="rc72" style="width: 250px;border: none;"/></td>
             </tr>

               <tr>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc73" formControlName="rc73" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc74" formControlName="rc74" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc75" formControlName="rc75" style="width: 250px;border: none;" /></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc76" formControlName="rc76" style="width: 250px;border: none;"/></td>
             </tr>

               <tr>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc77" formControlName="rc77" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc78" formControlName="rc78" style="width: 250px;border: none;"/></td>
                 <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc79" formControlName="rc79" style="width: 250px;border: none;" /></td>
                 <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc80" formControlName="rc80" style="width: 250px;border: none;"/></td>
             </tr>    
         </tbody>
     </table>
        <br><br><br><br>
           <button type="submit" [disabled]="!formData.valid">Save</button>
           <br>
           <div id="b1">
               <a [routerLink]="['../tenth', { addictName: formData.get('addictname')?.value }]"  style="text-decoration: none; color:black; background-color: rgb(255, 252, 252);display: inline-block; vertical-align: top;"><b>P</b></a> 
                <b id="b2" style="text-decoration: none; color:black; background-color: rgb(243, 237, 237);display: inline-block; vertical-align: top;">11</b>
               <a [routerLink]="['../thirteenth', { addictName: formData.get('addictname')?.value }]" style="text-decoration: none; color:black; background-color: rgb(255, 252, 252); display: inline-block; vertical-align: top;"><b>N</b></a> 
          </div>
   </form>
   </div>
</body>
