<!-- <style>
    body {
      width: 100%;
      font-size: 16px;
      margin: 0;
      padding: 0;
      outline: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .id1 {
      border: double 6px rgb(66, 64, 64);
      outline: solid 2px rgb(68, 64, 64);
      margin: 50px;
      margin-top: 40px;
      min-height: 60vh;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }
  
    #p1 input[type="text"] {
      border: none;
      background: none;
      outline: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: absolute;
      /* width: 70%; */
    }
  
    table {
      width: 100%;
      border: 1px solid black;
      border-collapse: collapse;
      margin-top: 20px;
      /* box-sizing: border-box; */
    }
  
    th,
    td {
      border: 1px solid black;
      padding: 8px;
    }
  
    td input[type="text"] {
      border: none;
      background: none;
      outline: none;
      white-space: nowrap;
      overflow: hidden;
    }
  
    .form-input {
      width: 0%;
      padding: 0.5px;
      margin-left: 20px;
      border: 0.5px solid #fff8f8;
      /* border: 1px solid #c4bcbc; */
      outline: none;
      border-radius: 5px;
      margin-bottom: 6px;
    }
  
    hr {
      border-color: black;
      margin-bottom: 20%;
    }
  
    #p2 input[type="text"] {
      border: none;
      background: none;
      outline: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: absolute;
      /* width: 70%; */
    }
  
    #p2 p input[type="text"] {
      border: none;
      background: none;
      outline: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: absolute;
      /* width: 70%; */
    }
  
    #nk {
      border: none;
      outline: none;
      font-size: 15px;
    }
  
    #b1 a {
      position: relative;
      left: 48%;
      text-decoration: none;
      border: 2px double rgb(100, 97, 97);
      border-radius: 3px;
      padding-left: 9px;
      padding-right: 9px;
    }
    #b1 #b2 {
      position: relative;
      left: 48%;
      text-decoration: none;
      border: 2px double rgb(100, 97, 97);
      border-radius: 3px;
      padding-left: 9px;
      padding-right: 9px;
    }
  
    .image-container {
      position: relative;
      display: inline-block;
      margin-top: 10px;
      left: 69%;
    }
    .remove-button {
      position: absolute;
      top: 2px;
      right: 2px;
      cursor: pointer;
      color: rgb(219, 34, 34);
      font-weight: bold;
      font-size: 14px;
      background: rgb(209, 83, 83);
      border-radius: 50%;
      /* padding: 2px; */
      opacity: 0; /* Initially hidden */
      transition: opacity 0.3s;
    }
  
    .remove-button:hover {
      opacity: 1; /* Visible on hover */
    }
  
    .form-input {
      width: 20%;
      /* Add other styles for the file input if needed */
    }
  </style>
  
  <body>
    <div class="id1">
      <form action="" [formGroup]="formData" (ngSubmit)="onSubmit()">
        <h1>Medical Form</h1>
        Name:<input
          type="text"
          id="nm"
          formControlName="nm"
          style="width: 250px; border: none"
        />&nbsp;&nbsp;&nbsp; Age:<input
          type="text"
          id="ag"
          formControlName="ag"
          style="width: 250px; border: none"
        />&nbsp;&nbsp;&nbsp; Date of registeration:<input
          type="text"
          id="dor"
          formControlName="dor"
          style="width: 250px; border: none"
        />
        <br />
        <b>Drinking/Drug history</b><br />
        Details of Alcohol/Drug abused
        <table class="w-full text-left">
          <thead>
            <tr>
              <th class="pb-2 border-b-2">Drug</th>
              <th class="pb-2 border-b-2">Years of first use</th>
              <th class="pb-2 border-b-2">Years of excessive use</th>
              <th class="pb-2 border-b-2">Specific type of Drugs</th>
              <th class="pb-2 border-b-2">Route of administration</th>
              <th class="pb-2 border-b-2">Frequency of use in 30 days</th>
              <th class="pb-2 border-b-2">Quantity used in the last 30 days</th>
              <th class="pb-2 border-b-2">Past use if any</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="dep"
                  formControlName="dep"
                  style="width: 250px; border: none"
                /><b>Depressants</b><br />
                Alcohol<br />
                Tranquilizers<br />
                Sedatives/<br />
                Hypnotics<br />
                Tobacco<br />
                Panmasala
              </td>
              <td><div class="border px-4 py-2" contenteditable="true"></div></td>
              <td><div class="border px-4 py-2" contenteditable="true"></div></td>
              <td><div class="border px-4 py-2" contenteditable="true"></div></td>
              <td><div class="border px-4 py-2" contenteditable="true"></div></td>
              <td><div class="border px-4 py-2" contenteditable="true"></div></td>
              <td><div class="border px-4 py-2" contenteditable="true"></div></td>
              <td><div class="border px-4 py-2" contenteditable="true"></div></td>
              <td><div class="border px-4 py-2" contenteditable="true"></div></td>
            </tr>
            <tr>
              <td class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="na"
                  formControlName="na"
                  style="width: 250px; border: none"
                /><b>Narcotic Analgesic</b><br />
                Opium,<br />
                Heroin/Brown<br />
                sugar,<br />
                Morphine,<br />
                Codeine<br />
                Pentazocine<br />
                Buprenorphine
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a1"
                    formControlName="a1"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a2"
                    formControlName="a2"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a3"
                    formControlName="a3"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a4"
                    formControlName="a4"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a5"
                    formControlName="a5"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a6"
                    formControlName="a6"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a7"
                    formControlName="a7"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a8"
                    formControlName="a8"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
            </tr>
            <tr>
              <td class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="can"
                  formControlName="can"
                  style="width: 250px; border: none"
                /><b>Cannabis</b><br />
                Ganja/Charas,<br />
                Hashish,<br />
                Bhang<br />
              </td>
              <td><div class="border px-4 py-2" contenteditable="true"></div></td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a9"
                    formControlName="a9"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a10"
                    formControlName="a10"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a11"
                    formControlName="a11"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a12"
                    formControlName="a12"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a13"
                    formControlName="a13"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a14"
                    formControlName="a14"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a15"
                    formControlName="a15"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
            </tr>
  
            <tr>
              <td class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="sti"
                  formControlName="sti"
                  style="width: 250px; border: none"
                /><b>Stimulants</b><br />
                Amphetamine,<br />
                Cocaine,<br />
                Ecstasy<br />
              </td>
              <td><div class="border px-4 py-2" contenteditable="true"></div></td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a16"
                    formControlName="a16"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a17"
                    formControlName="a17"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a18"
                    formControlName="a18"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a19"
                    formControlName="a19"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a20"
                    formControlName="a20"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a21"
                    formControlName="a21"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a22"
                    formControlName="a22"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
            </tr>
  
            <tr>
              <td class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="hal"
                  formControlName="hal"
                  style="width: 250px; border: none"
                /><b>Hallucinogens</b><br />
                LSD,PCP<br />
              </td>
              <td><div class="border px-4 py-2" contenteditable="true"></div></td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a23"
                    formControlName="a23"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a24"
                    formControlName="a24"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a25"
                    formControlName="a25"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a26"
                    formControlName="a26"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a27"
                    formControlName="a27"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a28"
                    formControlName="a28"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a29"
                    formControlName="a29"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
            </tr>
  
            <tr>
              <td class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="inh"
                  formControlName="inh"
                  style="width: 250px; border: none"
                /><b>Inhalants</b><br />
                Petrol,<br />
                Glue
              </td>
              <td><div class="border px-4 py-2" contenteditable="true"></div></td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a30"
                    formControlName="a30"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a31"
                    formControlName="a31"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a32"
                    formControlName="a32"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a33"
                    formControlName="a33"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a34"
                    formControlName="a34"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a35"
                    formControlName="a35"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a36"
                    formControlName="a36"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
            </tr>
  
            <tr>
              <td class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="sub"
                  formControlName="sub"
                  style="width: 250px; border: none"
                /><b>Substance not classified</b><br />
                Cough syrup<br />
                Antihistamine<br />
                Antidepresant<br />
                Antipsychotic<br />
                Anti cholinergic<br />
              </td>
              <td><div class="border px-4 py-2" contenteditable="true"></div></td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a37"
                    formControlName="a37"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a38"
                    formControlName="a38"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a39"
                    formControlName="a39"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a40"
                    formControlName="a40"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a41"
                    formControlName="a41"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a42"
                    formControlName="a42"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
              <td>
                <div class="border px-4 py-2" contenteditable="true">
                  <input
                    type="text"
                    id="a43"
                    formControlName="a43"
                    style="width: 250px; border: none"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
  
        <br /><br /><br /><br />
  
        <button type="submit" [disabled]="!formData.valid">Save</button>
        <div id="b1">
          <a routerLink="../seventh" style="text-decoration: none; color:black; background-color: rgb(255, 252, 252);display: inline-block; vertical-align: top;"><b>P</b></a> 
           <b id="b2" style="text-decoration: none; color:black; background-color: rgb(243, 237, 237);display: inline-block; vertical-align: top;">8</b>
          <a [routerLink]="['../ninth', { addictName: formData.get('addictname')?.value }]" style="text-decoration: none; color:black; background-color: rgb(255, 252, 252); display: inline-block; vertical-align: top;"><b>N</b></a> 
        </div>
      </form>
    </div>
  </body>
   -->
   <style>
  body {
    width: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 2px solid black;
            width: 10in; 
            height: 11.69in; 
            margin: 20px auto;
            padding: 20px; */
  }

  .id1 {
    border: double 6px rgb(66, 64, 64);
    outline: solid 2px rgb(68, 64, 64);
    margin: 50px;
    margin-top: 40px;
    min-height: 60vh;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .table-container {
  overflow-x: auto;
  max-width: 100%;
}
  #p1 input[type="text"] {
    border: none;
    background: none;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    /* width: 70%; */
  }

  table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    /*margin-top: 20px;*/
    /* box-sizing: border-box; */
  }

  th,td {
    /*border: 1px solid black;*/
    padding: 8px;
    text-align:left;
    width:30px;
  }
  table, th, td 
    {
       border: 1px solid black;
       width:30px;
    }
  td input[type="text"] {
    border: none;
    background: none;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
  }

  .form-input {
    width: 0%;
    padding: 0.5px;
    margin-left: 20px;
    border: 0.5px solid #fff8f8;
    /* border: 1px solid #c4bcbc; */
    outline: none;
    border-radius: 5px;
    margin-bottom: 6px;
  }

  hr {
    border-color: black;
    margin-bottom: 20%;
  }

  #p2 input[type="text"] {
    border: none;
    background: none;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    /* width: 70%; */
  }

  #p2 p input[type="text"] {
    border: none;
    background: none;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    width: 70%;
  }

  #nk {
    border: none;
    outline: none;
    font-size: 15px;
  }

  #b1 a {
    position: relative;
    left: 48%;
    text-decoration: none;
    border: 2px double rgb(100, 97, 97);
    border-radius: 3px;
    padding-left: 9px;
    padding-right: 9px;
  }
  #b1 #b2 {
    position: relative;
    left: 48%;
    text-decoration: none;
    border: 2px double rgb(100, 97, 97);
    border-radius: 3px;
    padding-left: 9px;
    padding-right: 9px;
  }

  .image-container {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    left: 69%;
  }
  .remove-button {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    color: rgb(219, 34, 34);
    font-weight: bold;
    font-size: 14px;
    background: rgb(209, 83, 83);
    border-radius: 50%;
    /* padding: 2px; */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s;
  }

  .remove-button:hover {
    opacity: 1; /* Visible on hover */
  }

  .form-input {
    width: 20%;
    /* Add other styles for the file input if needed */
  }
</style>

<body>
  <div class="id1">
    <form action="" [formGroup]="formData" (ngSubmit)="onSubmit()">
      <h1>Medical Form</h1>
      Name:<input
        type="text"
        id="nm"
        formControlName="nm"
        style="width: 250px; border: none"
      />&nbsp;&nbsp;&nbsp; Age:<input
        type="text"
        id="ag"
        formControlName="ag"
        style="width: 250px; border: none"
      />&nbsp;&nbsp;&nbsp; Date of registeration:<input
        type="text"
        id="dor"
        formControlName="dor"
        style="width: 250px; border: none"
      />
      <br />
      <b>Drinking/Drug history</b><br />
      Details of Alcohol/Drug abused
      <div class="table-container">
      <table class="w-full text-left">
        <thead>
          <tr>
            <th class="pb-1 border-b-1">Drug</th>
            <th class="pb-1 border-b-1">Age of <br>first use</th>
            <th class="pb-1 border-b-1">Years of <br>use</th>
            <th class="pb-1 border-b-1">Years of<br>excessive<br>use</th>
            <th class="pb-1 border-b-1">Specific <br>type of <br>Drugs</th>
            <th class="pb-1 border-b-1">Route of admini<br>stration</th>
            <th class="pb-1 border-b-1">Frequency <br>of use in <br>the last 30 days</th>
            <th class="pb-1 border-b-1">Quantity<br> used in <br>the last<br> 30 days</th>
            <th class="pb-1 border-b-1">Past<br> use if<br> any</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <!-- <input
                type="text"
                id="dep"
                formControlName="dep"
                style="width: 250px; border: none"
              />--><b>Depressants</b><br />
              Alcohol<br />
              Tranquilizers<br />
              Sedatives/<br />
              Hypnotics<br />
              Tobacco<br />
              Panmasala
            </td>
            <td><div class="border px-4 py-2" contenteditable="true"><input type="text" id="c1" formControlName="c1" style="width: 100%; border: black"></div></td>
            <td><div class="border px-4 py-2" contenteditable="true"><input type="text" id="c2" formControlName="c2" style="width: 100%; border: black"></div></td>
            <td><div class="border px-4 py-2" contenteditable="true"><input type="text" id="c3" formControlName="c3" style="width: 100%; border: black"></div></td>
            <td><div class="border px-4 py-2" contenteditable="true"><input type="text" id="c4" formControlName="c4" style="width: 100%; border: black"></div></td>
            <td><div class="border px-4 py-2" contenteditable="true"><input type="text" id="c5" formControlName="c5" style="width: 100%; border: black"></div></td>
            <td><div class="border px-4 py-2" contenteditable="true"><input type="text" id="c6" formControlName="c6" style="width: 100%; border: black"></div></td>
            <td><div class="border px-4 py-2" contenteditable="true"><input type="text" id="c7" formControlName="c7" style="width: 100%; border: black"></div></td>
            <td><div class="border px-4 py-2" contenteditable="true"><input type="text" id="c8" formControlName="c8" style="width: 100%; border: black"></div></td>
          </tr>
          <tr>
            <td >
              <!-- <input
                type="text"
                id="na"
                formControlName="na"
                style="width: 250px; border: none"
              />--><b>Narcotic Analgesic</b><br /> 
              Opium,<br />
              Heroin/Brown<br />
              sugar,<br />
              Morphine,<br />
              Codeine<br />
              Pentazocine<br />
              Buprenorphine
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a1"
                  formControlName="a1"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a2"
                  formControlName="a2"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a3"
                  formControlName="a3"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a4"
                  formControlName="a4"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a5"
                  formControlName="a5"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a6"
                  formControlName="a6"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a7"
                  formControlName="a7"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a8"
                  formControlName="a8"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
          </tr>

          <!-- <tr>
                            <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc5" formControlName="rc5"style="width: 250px;border: none;" /></td>
                            <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc6" formControlName="rc6" style="width: 250px;border: none;"/></td>
                            <td class="border px-4 py-2" contenteditable="true" ><input type="text" id="rc7" formControlName="rc7" style="width: 250px;border: none;"/></td>
                            <td class="border px-4 py-2" contenteditable="true"><input type="text" id="rc8" formControlName="rc8" style="width: 250px;border: none;"/></td>
                        </tr> -->

          <tr>
            <td>
              <!--<input
                type="text"
                id="can"
                formControlName="can"
                style="width: 250px; border: none"
              />--><b>Cannabis</b><br />
              Ganja/Charas,<br />
              Hashish,<br />
              Bhang<br />
            </td>
            <td><div class="border px-4 py-2" contenteditable="true"></div></td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a9"
                  formControlName="a9"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a10"
                  formControlName="a10"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a11"
                  formControlName="a11"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a12"
                  formControlName="a12"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a13"
                  formControlName="a13"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a14"
                  formControlName="a14"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a15"
                  formControlName="a15"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <!--<input
                type="text"
                id="sti"
                formControlName="sti"
                style="width: 250px; border: none"
              />--><b>Stimulants</b><br />
              Amphetamine,<br />
              Cocaine,<br />
              Ecstasy<br />
            </td>
            <td><div class="border px-4 py-2" contenteditable="true"></div></td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a16"
                  formControlName="a16"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a17"
                  formControlName="a17"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a18"
                  formControlName="a18"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a19"
                  formControlName="a19"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a20"
                  formControlName="a20"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a21"
                  formControlName="a21"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a22"
                  formControlName="a22"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <!-- <input
                type="text"
                id="hal"
                formControlName="hal"
                style="width: 250px; border: none"
              />--><b>Hallucinogens</b><br /> 
              LSD,PCP<br />
            </td>
            <td><div class="border px-4 py-2" contenteditable="true"></div></td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a23"
                  formControlName="a23"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a24"
                  formControlName="a24"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a25"
                  formControlName="a25"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a26"
                  formControlName="a26"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a27"
                  formControlName="a27"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a28"
                  formControlName="a28"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a29"
                  formControlName="a29"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <!-- <input
                type="text"
                id="inh"
                formControlName="inh"
                style="width: 250px; border: none"/> -->
                <b>Inhalants</b><br />
              Petrol,<br />
              Glue
            </td>
            <td><div class="border px-4 py-2" contenteditable="true"></div></td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a30"
                  formControlName="a30"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a31"
                  formControlName="a31"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a32"
                  formControlName="a32"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a33"
                  formControlName="a33"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a34"
                  formControlName="a34"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a35"
                  formControlName="a35"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a36"
                  formControlName="a36"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <!-- <input
                type="text"
                id="sub"
                formControlName="sub"
                style="width: 250px; border: none"/> -->
                <b>Substance not classified</b><br />
              Cough syrup<br />
              Antihistamine<br />
              Antidepresant<br />
              Antipsychotic<br />
              Anti cholinergic<br />
            </td>
            <td><div class="border px-4 py-2" contenteditable="true"></div></td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a37"
                  formControlName="a37"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a38"
                  formControlName="a38"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a39"
                  formControlName="a39"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a40"
                  formControlName="a40"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a41"
                  formControlName="a41"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a42"
                  formControlName="a42"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
            <td>
              <div class="border px-4 py-2" contenteditable="true">
                <input
                  type="text"
                  id="a43"
                  formControlName="a43"
                  style="width: 250px; border: none"
                />
              </div>
            </td>
          </tr>
        </tbody>
      
      </table>
    </div>
      <br /><br /><br /><br />

      <button type="submit" [disabled]="!formData.valid">Save</button>
      <div id="b1">
        <a
          routerLink="../seventh"
          style="
            text-decoration: none;
            color: black;
            background-color: rgb(255, 252, 252);
            display: inline-block;
            vertical-align: top;
          "
          ><b>P</b></a
        >
        <b
          id="b2"
          style="
            text-decoration: none;
            color: black;
            background-color: rgb(243, 237, 237);
            display: inline-block;
            vertical-align: top;
          "
          >8</b
        >
        <a
          [routerLink]="[
            '../ninth',
            { addictName: formData.get('addictname')?.value }
          ]"
          style="
            text-decoration: none;
            color: black;
            background-color: rgb(255, 252, 252);
            display: inline-block;
            vertical-align: top;
          "
          ><b>N</b></a
        >
      </div>
    </form>
  </div>
</body>